.todo-list-containter {
  display: flex;
  position: relative;
  width: 100%;
}
.todo-list-containter .todo-item{
  display: flex;
  justify-items: center;
  align-items: center;
  width: 450px;
  border-bottom: 1px solid white;
}


.todo-list-containter ul li {
  border: none;
  list-style: none;
  padding: 10px;
  width: 100%;
  word-break: break-all;
  padding-right: 50px;


}
.todo-list-containter button {
 justify-content: center;
  background: transparent;
  filter: invert(1);
  position: absolute;
  right: 3px;
  padding: 10px;
 
}
