.todo-list-containter {
  display: flex;
  position: relative;
  width: 100%;
}
.todo-list-containter .todo-item{
  display: flex;
  justify-items: center;
  align-items: center;
  width:524px;
  border-bottom: 1px dashed #8FA8C14D;
  Line-height:18.75px;
  font-weight:500;
  font-size:16px;
}


.todo-list-containter ul li {
  border: none;
  list-style: none;
  padding: 20px 30px 20px 30px;
  width: 100%;
  word-break: break-all;
  padding-right: 50px;
 

}
.todo-list-containter button {
 justify-content: center;
  background: transparent;
  filter: invert(1);
  position: absolute;
  right: 30px;
  padding: 10px;
  height: 24px;
  width: 23px;
  opacity:60%;

 
}
