.todo-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  background-color: rgb(26, 28, 77);
  height: 400px;
  width: 500px;
  max-width: 100%;
  box-shadow: 5px 5px #888888;
  overflow: auto;
}
.todo-main-container .heading {
  margin-top: 20px;
  padding: 10px;
}
.todo-main-container .todo-input-section  {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin-left: 10px;
  margin-right: 10px;
width: 100%;
}

